<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbuFT2CwGft2zh4GmM4lSOBYgtioL1Zyo</string>
	<key>GCM_SENDER_ID</key>
	<string>775350514326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counterAppWithAuth</string>
	<key>PROJECT_ID</key>
	<string>counter-app-with-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-app-with-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775350514326:ios:d874e02875e38ddf13c8b7</string>
</dict>
</plist>